html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

p{
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body {
    overflow-x: hidden;
    font-family: 'GothamRoundedMedium', sans-serif;
    font-size: 14px;
    color: #8c9398;
}


@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
@keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 5px;
}

.btn {
    width: 180px;
    a {
        padding: 25px 40px;
        border-radius: 5px;
        background-color: rgb(61, 201, 179);
        color: #fff;
        font-size: 15px;
    }
}

.title {
    font-size: 15px;
    color: #353535;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    &__text {
        margin-bottom: 27px;
    }
    &__images {
        display: flex;
        justify-content: center;
        align-items: center;
        div + div {
            margin-left: 37px;
        }
    }
    &__row {
        max-width: 235px;
        height: 2px;
        width: 100%;
        background-image: url(../images/quote-bg.png);
    }
}

.slick-dots {
    display: flex;
    font-size: 0;
    justify-content: center;
    margin: 130px auto 0 auto;
    li.slick-active {
        button {
            background-color: #000;
        }
    }
    button {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 2px solid #c9cbca;
        background-color: transparent;
        cursor: pointer;
        outline: none;
    }
    li + li {
        margin-left: 8px;
    }
}

.row {
    width: 33px;
    height: 3px;
    background-color: #3dc9b3;
}





@keyframes animLeft {
    0% {
        transform: translateX(-3000px);
    } 

    100% {
        transform: translateX(0);
    }
}

@keyframes animRight {
    0% {
        transform: translateX(3000px);
    } 

    100% {
        transform: translateX(0);
    }
}

@keyframes animVisible {
    0% {
        opacity: 0;
    } 

    100% {
        opacity: 1;
    }
}


    
  
  